body {
  margin-left: 20%;
  margin-right: 20%;
}
body,
input,
button {
  font-family: "Century Gothic", sans-serif;
  font-size: 20pt;
}
div {
  margin: 0.5em;
}
#validation {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
  text-align: right;
}
